USE [master]
GO
/****** Object:  Database [AssignmentPrn211]    Script Date: 6/19/2022 11:18:29 PM ******/
CREATE DATABASE [AssignmentPrn211]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentPrn211', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AssignmentPrn211.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssignmentPrn211_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AssignmentPrn211_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentPrn211].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentPrn211]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 6/19/2022 11:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [nvarchar](50) NOT NULL,
	[Email] [nchar](40) NOT NULL,
	[Password] [nchar](20) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [MemberName], [Email], [Password], [City], [Country]) VALUES (1, N'admin', N'admin@fstore.com                        ', N'admin@@             ', N'Ha Noi', N'Viet Nam')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
USE [master]
GO
